*.iml
*.ipr
target
*.iws
.classpath
dependency-reduced-pom.xml
build
.classpath
.project
.settings
.idea
.surefire-*
.DS_Store
*.versionsBackup
test-output

# maven-release-plugin
**/pom.xml.releaseBackup
**/pom.xml.next
**/pom.xml.tag
**/pom.xml.branch
**/release.properties
**/pom.xml.backup
